bleach==5.0.1
build==0.9.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
check-manifest==0.49
colorama==0.4.6
commonmark==0.9.1
cryptography==38.0.4
cssselect==1.2.0
cssutils==2.6.0
docutils==0.19
email-to==0.1.0
idna==3.4
importlib-metadata==5.1.0
ioe-email-stuff==0.0.11
jaraco.classes==3.2.3
keyring==23.11.0
lxml==4.9.2
Markdown==3.4.1
more-itertools==9.0.0
msal==1.20.0
numpy==1.23.4
Office365-REST-Python-Client==2.3.16
packaging==22.0
pandas==1.5.1
pep517==0.13.0
pkginfo==1.9.2
premailer==3.10.0
pycparser==2.21
Pygments==2.13.0
PyJWT==2.6.0
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pytz==2022.6
pywin32==305
pywin32-ctypes==0.2.0
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.0.0
sharepy==2.0.0
six==1.16.0
tomli==2.0.1
tqdm==4.64.1
twine==4.0.2
urllib3==1.26.12
webencodings==0.5.1
XlsxWriter==3.0.3
zipp==3.11.0
